<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.jonda.rbac.dao.UserManageDao">

    <insert id="insertUserRoleBatch" parameterType="User">
        insert into rbac_user_role(user_id, role_id)
        values
        <foreach collection="roles" item="item" separator=",">
            (#{id}, #{item.id})
        </foreach>
    </insert>
</mapper>