<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.jonda.erp.wedding.dao.order.OrderQueryDao">

    <resultMap id="default_result_map" type="OrderQueryResult">
        <id column="order_id" property="orderId"/>
        <result column="contract_id" property="contractId"/>
        <result column="bride_name" property="brideName"/>
        <result column="bride_telephone" property="brideTelephone"/>
        <result column="bridegroom_name" property="bridegroomName"/>
        <result column="bridegroom_telephone" property="bridegroomTelephone"/>
        <result column="wedding_date" property="weddingDate"/>
        <result column="order_status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <select id="queryOrderPage" resultMap="default_result_map" parameterType="OrderQueryParam">
        select
            o.order_id as order_id,
            o.contract_id as contract_id,
            o.bride_name as bride_name,
            o.bride_telephone as bride_telephone,
            o.bridegroom_name as bridegroom_name,
            o.bridegroom_telephone as bridegroom_telephone,
            o.wedding_date as wedding_date,
            o.order_status as order_status,
            o.remark as remark,
            o.creator as creator,
            o.create_time as create_time,
            o.modifier as modifier,
            o.modify_time as modify_time
        from wedding_order o
        where o.data_status=1
        <include refid="query_conditions"/>
        order by o.create_time desc
        <include refid="com.jonda.rbac.dao.CommonDao.pageConditions"/>
    </select>

    <select id="queryOrderPage_count" resultType="int" parameterType="OrderQueryParam">
        select count(1)
        from wedding_order o
        where o.data_status=1
        <include refid="query_conditions"/>
    </select>

    <sql id="query_conditions">
        <if test="orderId != null and orderId != ''">
            and o.order_id = #{orderId}
        </if>
        <if test="contractId != null and contractId != ''">
            and o.contract_id = #{contractId}
        </if>
        <if test="brideName != null and brideName != ''">
            and o.bride_name = #{brideName}
        </if>
        <if test="brideTelephone != null and brideTelephone != ''">
            and o.bride_telephone = #{brideTelephone}
        </if>
        <if test="bridegroomName != null and bridegroomName != ''">
            and o.bridegroom_name = #{bridegroomName}
        </if>
        <if test="bridegroomTelephone != null and bridegroomTelephone != ''">
            and o.bridegroom_telephone = #{bridegroomTelephone}
        </if>
        <if test="startWeddingDate != null">
            <![CDATA[
            and o.wedding_date >= #{startWeddingDate}
            ]]>
        </if>
        <if test="endWeddingDate != null">
            <![CDATA[
            and o.wedding_date <= #{endWeddingDate}
            ]]>
        </if>
        <if test="status != null and status != ''">
            and o.order_status = #{status}
        </if>
    </sql>
</mapper>
