<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.jonda.erp.wedding.dao.order.OrderQueryDao">
    <!--
        获取用户: 输出直接映射到对象, login_name列要"as loginName"以方便映射 ,team_id as "team.id"创建team对象并赋值
    -->
    <!--<insert id="save" parameterType="User">
        INSERT INTO user (name, login_name, password, salt, creator, create_time, modifier, modify_time)
        VALUES (#{name},#{loginName},#{password},#{salt},#{creator},current_timestamp(),#{modifier},current_timestamp())
    </insert>-->



</mapper>
